appnope==0.1.0
backcall==0.2.0
cachetools==4.1.1
captum==0.2.0
certifi==2022.12.7
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
future==0.18.2
google-api-core==1.21.0
google-auth==1.19.2
google-cloud-vision==1.0.0
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.30.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.7.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
ipykernel==5.3.3
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
joblib==0.16.0
jupyter-client==6.1.6
jupyter-core==4.6.3
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.0
pandas==1.0.5
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.5
protobuf==3.12.2
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pymongo==3.10.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
pyzmq==19.0.1
requests==2.24.0
rfc3986==1.4.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.5.1
sentencepiece==0.1.92
six==1.15.0
sniffio==1.1.0
threadpoolctl==2.1.0
torch==1.5.1
torchsummary==1.5.1
torchtext==0.6.0
torchvision==0.6.1
tornado==6.0.4
tqdm==4.48.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.5
wget==3.2
